$primary-color: #3a2f2b;
$secondary-color: #f9d8ad;
$bg-color: #f4f4f4;
$bg-color-segara: #dbd5cd;
$bg-white: #fff;
$bg-black: #000;
//text-styles
$primary-font: "Poppins", sans-serif;
$secondary-font: "Oswald", sans-serif;
$primary-text: #512b1d;
$secondary-text: #b34c00;
$text-white: #fff;
$text-black: #151515;
$text-grey: #e4e4e4;

//global-styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.events_frontPage {
  height: 35.625rem;
}
.events_frontPage_container {
  position: relative;
  height: 35.625rem;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.events_frontPage_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #512b1d;
  opacity: 0.7;
  z-index: 0;
}
.events_frontPage_container_text {
  height: 100%;
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 240px;
}

.events_divider1 {
  width: 100%;
  height: 200px;
}

.events_divider1 .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.events_divider1 .container .row h1 {
  color: $primary-text;
}

.events_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.events_container .event1 {
  background-image: url("..//assets/pics/wedding_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 475px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.events_container .event2 {
  background-image: url("..//assets/pics/birthday_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 475px;
  height: 600px;
  display: flex;
  flex-direction: column;
}
.events_container .event3 {
  background-image: url("..//assets/pics/corpo_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 475px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.event1_container {
  background-color: rgba(81, 43, 29, 0.7);
  margin-top: auto;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.event2_container {
  background-color: rgba(81, 43, 29, 0.7);
  margin-top: auto;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.event3_container {
  background-color: rgba(81, 43, 29, 0.7);
  margin-top: auto;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.events_container h2 {
  font-family: $secondary-font;
  font-weight: lighter;
  color: $text-white;
}
.events_container h3 {
  color: $text-white;
  width: 60%;
  font-size: 1.5rem;
}
.event1_container_text {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.event2_container_text {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.event3_container_text {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.eventInquireButton {
  font-size: 0.9rem !important;
  margin: 0 0 0 0 !important;
}
