$primary-color: #3a2f2b;
$secondary-color: #f9d8ad;
$bg-color: #f4f4f4;
$bg-color-segara: #dbd5cd;
$bg-white: #fff;
$bg-black: #000;
//text-styles
$primary-font: "Poppins", sans-serif;
$secondary-font: "Oswald", sans-serif;
$tertiary-font: "Abel", sans-serif;
$fourth-font: "Rubik", sans-serif;
$primary-text: #512b1d;
$secondary-text: #b34c00;
$text-white: #fff;
$text-black: #151515;
$text-grey: #e4e4e4;

//global-styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-wrapper {
  margin-top: 4%;
  border-top: 1px solid rgba(81, 43, 29, 0.3);
  padding-top: 1%;
}

.footer-header .row .col-12 h1 {
  color: $primary-color;
}
.footer-content .row .col-lg-6 h1 {
  font-family: $primary-font;
  font-weight: 700;
  text-transform: none;
  color: $primary-color;
}

.footer-content .row .col-lg-6 p {
  margin: 0;
}
.footer-account h1 {
  color: black;
}

.footer-account .row .col-12 a {
  color: $text-black;
  text-decoration: none;
  font-size: 200%;
  margin: 0 2%;
}
.footer-account .row .col-12 .tripadvisor-logo {
  margin-top: -1%;
  width: 4%;
}

@media (max-width: 425px) {
  .footer-account .row .col-12 .tripadvisor-logo {
    margin-top: -1%;
    width: 10%;
  }
}
