$primary-color: #3a2f2b;
$secondary-color: #f9d8ad;
$bg-color: #f4f4f4;
$bg-color-segara: #dbd5cd;
$bg-white: #fff;
$bg-black: #000;
//text-styles
$primary-font: "Poppins", sans-serif;
$secondary-font: "Oswald", sans-serif;
$cursive-font: "Dancing Script", cursive;
$tertiary-font: "Abel", sans-serif;
$primary-text: #512b1d;
$secondary-text: #b34c00;
$text-white: #fff;
$text-black: #151515;
$text-grey: #e4e4e4;

//global-styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
//resturant title
.restoBanner {
  background-image: url("../assets/restaurant/restobannertest.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
}

.restoBanner .row .restoBannerColumn .menu_btn {
  margin-top: 7%;
}
//divider
.divider-container p {
  color: $primary-text;
  font-family: $tertiary-font;
  font-size: 1.2rem;
}
//detail1
.resto-detail1-container {
  padding-bottom: 3%;
  border-bottom: 1px solid rgba(81, 43, 29, 0.3);
}
.resto-detail1-container .resto-detail1-content .resto-detail1-text {
  margin-right: 10%;
}
.resto-detail1-container .resto-detail1-content .resto-detail1-text p {
  font-family: $tertiary-font;
  font-size: 1.1rem;
}
.resto-detail1-container .resto-detail1-content .resto-detail1-text h1 {
  color: $primary-text;
  margin-bottom: 10%;
  border-bottom: 1px solid $primary-color;
  width: 70%;
}
.resto-detail1-container .resto-detail1-content .resto-detail1-img {
  margin-left: 10%;
}
//details2
.resto-detail2-container {
  margin-top: 5%;
  padding-bottom: 3%;
  border-bottom: 1px solid rgba(81, 43, 29, 0.3);
}

.resto-detail2-container .resto-detail2-content .resto-detail2-text {
  margin-left: 10%;
}
.resto-detail2-container .resto-detail2-content .resto-detail2-text h1 {
  color: $primary-text;
  width: 70%;
  margin-bottom: 10%;
  border-bottom: 1px solid $primary-color;
}
.resto-detail2-container .resto-detail2-content .resto-detail2-text p {
  font-family: $tertiary-font;
  font-size: 1.1rem;
}
.resto-detail2-container .resto-detail2-content .resto-detail2-img {
  margin-right: 10%;
}
//detail 3
.resto-detail3-container {
  margin-top: 5%;
  padding-bottom: 3%;
}
.resto-detail3-container .resto-detail3-content .resto-detail3-text {
  margin-right: 10%;
}
.resto-detail3-container .resto-detail3-content .resto-detail3-text p {
  font-family: $tertiary-font;
  font-size: 1.1rem;
}
.resto-detail3-container .resto-detail3-content .resto-detail3-text h1 {
  color: $primary-text;
  margin-bottom: 10%;
  border-bottom: 1px solid $primary-color;
  width: 70%;
}
.resto-detail3-container .resto-detail3-content .resto-detail3-img {
  margin-left: 10%;
}
//responsive style
@media (max-width: 425px) {
  .restoBanner .row .restoBannerColumn {
    margin-top: 25%;
    height: 35.625rem;
  }
  //detail1 responsive
  .resto-detail1-container .resto-detail1-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .resto-detail1-container .resto-detail1-content .resto-detail1-img {
    margin-left: -8%;
    margin-bottom: 5%;
    width: 70%;
    height: 70%;
  }
  .resto-detail1-container .resto-detail1-content .resto-detail1-text {
    padding: 0 10%;
  }
  .resto-detail1-container .resto-detail1-content .resto-detail1-text h1 {
    width: 60%;
  }
  //detail2 responsive
  .resto-detail2-container .resto-detail2-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .resto-detail2-container .resto-detail2-content .resto-detail2-img {
    margin-bottom: 5%;
    margin-left: 10%;
    width: 70%;
    height: 70%;
  }
  .resto-detail2-container .resto-detail2-content .resto-detail2-text {
    padding: 0 10%;
    margin: 0;
  }
  .resto-detail2-container .resto-detail2-content .resto-detail2-text h1 {
    width: 60%;
  }
  //detail3 responsive
  .resto-detail3-container .resto-detail3-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .resto-detail3-container .resto-detail3-content .resto-detail3-img {
    display: none;
  }
  .resto-detail3-container .resto-detail3-content .resto-detail3-text {
    padding: 0 10%;
  }
  .resto-detail3-container .resto-detail3-content .resto-detail3-text h1 {
    width: 60%;
  }
}
