$primary-color: #3a2f2b;
$secondary-color: #f9d8ad;
$bg-color: #f4f4f4;
$bg-color-segara: #dbd5cd;
$bg-white: #fff;
$bg-black: #000;
//text-styles
$primary-font: "Poppins", sans-serif;
$secondary-font: "Oswald", sans-serif;
$cursive-font: "Dancing Script", cursive;
$primary-text: #512b1d;
$secondary-text: #b34c00;
$text-white: #fff;
$text-black: #151515;
$text-grey: #e4e4e4;

//global-styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//resturant title
.resto_ts_wrapper {
  height: 35.625rem;
  padding: 0;
  margin: 0;
}
.blur_container {
  background-image: url("../assets/restaurant/RestoBanner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 0;
  filter: blur(1.7px);
  -webkit-filter: blur(1.7px);
}
.resto_ts_wrapper .row {
  height: 100%;
}

.resto_ts_wrapper .row .resto_ts_content {
  position: relative;
  z-index: 2;
}
.resto_ts_wrapper .row .resto_ts_content .menu-btn {
  margin: 0;
}
