$primary-color: #3a2f2b;
$secondary-color: #f9d8ad;
$bg-color: #f4f4f4;
$bg-color-segara: #dbd5cd;
$bg-white: #fff;
$bg-black: #000;
//text-styles
$primary-font: "Poppins", sans-serif;
$secondary-font: "Oswald", sans-serif;
$cursive-font: "Dancing Script", cursive;
$hero-font: "Optimus Princeps";
$primary-text: #512b1d;
$secondary-text: #b34c00;
$text-white: #fff;
$text-black: #151515;
$text-grey: #e4e4e4;

//global-styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Rooms and Rates Front Page
.RoomsandRates_frontPage_container {
    background-image: url("..//assets/Rooms&Rates.jpg");
    position: relative;
    height: 37.625rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
  }
.RoomsandRates_frontPage_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #512b1d;
  opacity: 0.3;
  z-index: 0;
}
.RoomsandRates_frontPage_container_text {
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.RoomsandRates_frontPage_container_text h1 {
  font-family: $cursive-font;
  text-transform: none;
  font-size: 3.75rem
}
//Rooms Main Page
.RoomsandRatesMain{
	padding: 20px;
  margin-top: 40px;
}
.RoomsandRatesMain_container{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px .8px;
  width: 90%;
}
.card{
  background-color: $bg-color-segara;
  border: $bg-color-segara;
}
.RoomsandRatesMain p {
  font-family: $primary-font;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 40px;
}
.RoomsandRatesMain h1 {
  color: $primary-text;
}
.Roomsimg{
    margin-top: 69px;
    width: 89%;
    height: 69%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.main-btn-rooms {
    font-size: 1rem;
    font-weight: 500;
    color: $primary-text;
    text-transform: uppercase;
    border: 0.1rem solid $bg-black;
    padding: 0.375rem 1.875rem;
    border-radius: 1rem;
    line-height: 1.75rem;
    display: inline-block;
    transition: all 0.3s ease-out 0s;
    margin: 50px 20px 20px;
    text-decoration: none;
  }
  .main-btn-rooms:hover {
    background-color: $primary-text;
    border-color: $bg-black;
    color: $text-white;
  }
  .amenitiesContainer{
    width: 265px;
  }
  .amenitiesIcon{
    padding-right: 5px;
  }
  @media (max-width: 991px) {
    .amenities h3 {
      font-size: 1.25rem;
    }
    .RoomsandRatesMain p{
      font-size: 1.2525rem;
      line-height: 1.3rem;
    }
    .RoomsandRates_frontPage h1{
      font-size: 2.55rem;
    }
  }
  //Three Rooms
  .RoomsMainWrapper{
    padding: 0px 60px 0px;
  }
  //Segara Villas
  .VillasHero_container {
    background-image: url("../assets/Villas/VillasHero.jpg");
    position: relative;
    height: 40.225rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    z-index: -2;
  }
  .VillasHero_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #512b1d;
    opacity: 0.2;
    z-index: -1;
  }
  .VillasHero_container-text {
    z-index: 1;
    margin-left: 5%;
  }
  .VillasHero_container h1{
    font-size: 4.75rem;
    font-weight: 400;
    color: $text-white;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    font-family: $hero-font;
  }
  .RoomsMainContainer p{
    color: #512b1d !important;
    font-size: 0.9rem;
    font-weight: 1000;
    font-family: $primary-font;
  }
  .ImageContainer{
    position: relative;
  }
  .ImgText{
    position: absolute;
    bottom: 8px;
    left: 20px;
  }
  .MainRoomimg{
    width: 100%;
    height: 100%;
  }
  .side{
    padding-top: 10rem;
  }
  .PromoContainer img{
    width: 100%;
    height: 100%;
  }
  .PromoContainer h1{
    color: #151515 !important;
    font-size: 1.9rem;
    font-weight: 1000;
    font-family: $primary-font;
  }
  @media (max-width: 991px) {
    .VillasHero_container h1{
      font-size: 40px;
    }
    .RoomsMainWrapper{
      padding: 0px 0px 0px;
    }
    .side{
      padding-top: 0rem;
    }
  }
  
  